*{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}
.header{
    background-color: white;
    background-image: url("../images/banner/banner1.png");
    max-width: 1600px;
    background-repeat: no-repeat;
    flex-shrink: 0;
    background-position: top;

    
}
.btn-primary{
    border-radius: 5px;
    background: #F15B22;
    border: 0;
    padding: 20px 25px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.banner{
    display: flex;
    /*text-align: right;*/
    justify-content: space-between;
}
.banner-left{
    margin: 25%;
}
.banner-right{
    margin-top: 215px;
    padding-bottom: 166px;
    margin-right: 230px;
    text-align: right;
    max-width: 525px;
}
.banner-title{
    color: #151414;
    margin-bottom: 24px;
    text-align: right;
    font-weight: 700;
    font-size: 65px;
}
.banner-des{

    color: #444343;
    text-align: right;
    /*max-width: 500px;*/
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 32px;
    margin-top: 0;
    margin-left: 30px;
}

/* Previous Year Style */
.previous-year-container{
    background: white;
    display: flex;
    justify-content: space-around;
    margin: 140px 322px 130px 206px;
    /*margin-left: 206px;
    margin-right: 322px;
    margin-top: 140px;
    margin-bottom: 130px;*/
}
.previous-year-right{
    margin-left: 84px;
    text-align: left;
    margin-top: 230px;
}
.section-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.previous-year-des{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 24px 0 16px 0;
}
.previous-year-right ul{
    list-style: none;
    /*
    list-style-image: url(../images/icons/check-solid.svg);
    */
    margin: 0;
    padding: 0;
}
.previous-year-right li{
    /*padding-inline-start: 10px;*/
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 8px;
}
.green{
    color: #16D887;
}
.my-plan .section-title{
    text-align: center;
}
/* Previous Year Style */

.my-plan-container{
    display: flex;
    justify-content: space-around;
    margin: 55px 230px 135px 230px;
}
.my-plan-item{
    text-align: center;
}
.my-plan-title{
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    margin-top: 18px;
    margin-bottom: 16px;
}
.my-plan-des{
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

/* Call Now  Style */
.call-now{
    margin: 130px 230px;
}
.call-container{
    position: relative;
    display: flex;
}
.call-now-title{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 24px 0;
   /* margin-bottom: 24px;*/
}
.btn-secondary{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #F15B22;
    border-radius: 5px;
    background: white;
    border: 0;
    padding: 20px 36px;
}

.call-now-watch{
    position: relative;
    z-index: 1;
}
.call-now-gradient{
    position: absolute;
    z-index: 2;
}
.call-now-left{
    position: absolute;
    z-index: 3;
    padding: 60px 60px;
    max-width: 50%;
}

/* Footer Style */

footer{
    background: #151414;
    display: flex;
}
.footer-title{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
}
.footer-des{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    /*max-width: 484px;*/
    margin-bottom: 24px;
}

a.footer-mail{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px; /* 162.5% */
    /*margin-bottom: 16px;*/
    text-decoration: none;
}
.subscribe{
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.email{
    padding: 20px 160px 20px 20px;
    border-radius: 8px;
    border: 1px solid #FFF;
    color: #ffffff;
    background-color: #151414;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
}

.footer-left{
    /*margin: 130px 230px;*/
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 0;
    margin-bottom: 130px;
    /*margin: 50%;*/
}

.footer-right{
    margin-top: 130px;
    margin-right: 230px;
    margin-bottom: 240px;
    margin-left: 230px;
/*    margin: 50%;*/
}
.footer-left-icons{
    margin-top: 32px;
}
.footer-icon{
    margin-right: 15px;
}










